<h1><%= @the_user.username %></h1>

<dl>
  <dt>Private</dt>
  <dd><%= @the_user.private %></dd>

  <!-- bring data from accepted followers requests (recipient) -->
  <% accepted_followers = FollowRequest.where({ :recipient_id => @the_user.id, :status => "accepted" }) %>

  <dt>Followers</dt>
  <dd><%= accepted_followers.count %></dd>

  <!-- bring data from accepted following requests (sender) -->                       
  <% following_accepted = FollowRequest.where({ :sender_id => @the_user.id, :status => "accepted" }) %>

  <dt>Following</dt>
  <dd><%= following_accepted.count %></dd>
</dl>  

<nav>
  <ul>
    <li>
      <a href="/users/<%= @the_user.username %>">Profile</a>
    </li>
    <li>
      <a href="/users/<%= @the_user.username %>/liked_photos">Liked photos</a>
    </li>
    <li>
      <a href="/users/<%= @the_user.username %>/feed">Feed</a>
    </li>
    <li>
      <a href="/users/<%= @the_user.username %>/discover">Discover</a>
    </li>
  </ul>
</nav>

<!-- initialize an empty photo array -->
<% the_photos = [] %>
<!-- bring likes for this photo -->  
<% photo_likes = Like.where({ :fan_id => the_following.id }) %>  
<!-- iterate through liked photos -->  
<% photo_likes.each do |a_liked_photo| %>

<!-- bring photos to user pages and render -->
<% the_photos = (Photo.where({ :id => a_liked_photo.photo_id }).at(0)) %>
<% end %>

<h2>Discover (<%= the_photos.count %>)</h2>

<table border="1">

  <tr>
    <th>
      Image
    </th>

    <th>
      Owner
    </th>

    <th>
      Caption
    </th>

    <th>
      Posted
    </th>

    <th>
      Likes
    </th>

    <th></th>
  </tr>

<!-- iterate over all photos, using .compact will get rid of nil results -->
<% the_photos.compact.each do |a_photo| %>

  <tr>

    <td>
       <img src="<%= a_photo.image %>" class="img-responsive">
    </td>

    <td>
      <!-- bring username for owner -->
      <% u = User.where({ :id => a_photo.owner_id }).at(0) %>

      <%= u.username %>
    </td>

    <td>
      <%= a_photo.caption %>
    </td>

    <td>
      <%= time_ago_in_words(a_photo.created_at) %> ago
    </td>

    <td>
      <%= a_photo.likes_count %>
    </td>

    <td>
      <a href="/photos/<%= a_photo.id %>">Show details</a>
    </td>

    <% end %>

  </tr>

</table>

  </body>
</html>
