<div>
  <div>
    <h1>
      List of users
    </h1>
  </div>
</div>


<div>
  <div>
    <table border="1">
      <tr>
        <th>
          Username
        </th>

    <th>
      Private?
    </th>

    <th></th>

    <% if @current_user != nil %>
    <th></th>
    <% end %>

  </tr>

    <tr>
    <% @list_of_users.each do |a_user| %>
      <td>
        <%= a_user.username %>
      </td>

      <td>
        <%= humanize_boolean(a_user.private) %>
      </td>

    <% if @current_user != nil %>
    <!-- bring data from follow request to render here -->
    <% matching_follow_requests = FollowRequest.where({ :sender_id => @current_user.id }).where({ :recipient_id => a_user.id })%>
    <!-- narrow down to the specific request -->
    <% a_follow_request = matching_follow_requests.at(0) %>

    <% if @current_user != nil && a_follow_request == nil %>  

    <td>
        <form action="/insert_follow_request" method="post">
          <input type="hidden" id="recipient_id_box" name="query_recipient_id" value="<%= a_user.id %>">

          <input type="hidden" id="sender_id_box" name="query_sender_id" value="<%= @current_user.id %>">

          <input type="hidden" id="status_box" name="query_status" value="pending">

          <button>
            Follow
          </button>
        </form>
      </td>

      <% elsif a_follow_request.status == "pending" && @current_user != nil %>

      <td>
        Request sent.

        <a href="/delete_follow_request/<%= a_follow_request.id %>">
          Cancel
        </a>
      </td>

      <% elsif @current_user != nil && a_follow_request.status == "accepted"%>

      <td>
        <a href="/delete_follow_request/<%= a_follow_request.id %>">
          Unfollow
        </a>
      </td>

      <% elsif @current_user != nil && a_follow_request.status == "rejected"%>
      <td>
      </td>

    <% end %>
  <% end %>  

      <td>
        <!--<a href="/users/<%= a_user.id %>">Show details</a>-->
        <a href="/users/<%= a_user.username %>">Show details</a>
      </td>
    </tr>
    <% end %>
  </div>  
</div> 
