<h1><%= @the_user.username %></h1>

<dl>
  <dt>Private</dt>
  <dd><%= @the_user.private %></dd>

  <!-- bring data from accepted followers requests (recipient) -->
  <% accepted_followers = FollowRequest.where({ :recipient_id => @the_user.id, :status => "accepted" }) %>

  <dt>Followers</dt>
  <dd><%= accepted_followers.count %></dd>

  <!-- bring data from follow request to render here -->
  <%# matching_follow_requests = FollowRequest.where({ :sender_id => @current_user.id , :recipient_id => @the_user.id }) %>
  <!-- narrow down to the specific request -->
  <%# a_follow_request = matching_follow_requests.at(0) %>

  <!-- bring data from pending followers requests -->
  <%# pending_followers = FollowRequest.where({ :sender_id => @the_user.id, :status => "pending" }) %>

  <% received_request_status = FollowRequest.where({ :recipient_id => @the_user.id, :sender_id => @current_user, :status => "accepted" }) %>

  <dd>
  <% if received_request_status.empty? %> 

    <div>
    <form action="/insert_follow_request" method="post">
      <input type="hidden" id="recipient_id_box" name="query_recipient_id" value="<%= @the_user.id %>">

      <input type="hidden" id="sender_id_box" name="query_sender_id" value="<%= @current_user.id %>">

      <input type="hidden" id="status_box" name="query_status" value="pending">

      <button>
        Follow
      </button>
    </form>
    </div>

  <% else %>  

    <div>
      <a href="/delete_follow_request/<%= received_request_status.at(0).id %>">Unfollow</a>
    </div>

  <% end %>  

  <% if @current_user == @the_user %>   

    <div>
      <h4>Pending follow requests</h4>

      <ul>
    <% pending_followers = FollowRequest.where({ :recipient_id => @the_user.id, :status => "pending" }) %>  
    <!-- iterate through pending requests -->  
    <% pending_followers.each do |pending| %>
          <li>
            <!-- bring username under request -->
            <%= pending.id %>
            <form action="/modify_follow_request/<%= pending.id %>" method="post">
              <input name="query_status" value="accepted" type="hidden">

              <button>
                Accept
              </button>
            </form>

            <form action="/modify_follow_request/<%= pending.id %>" method="post">
              <input name="query_status" value="rejected" type="hidden">
            
              <button>
                Reject
              </button>
            </form>
          </li>
    <% end %>
      </ul>
    </div>
  <% end %>  
  </dd>

  <!-- bring data from accepted following requests (sender) -->                       
  <% following_accepted = FollowRequest.where({ :sender_id => @the_user.id, :status => "accepted" }) %>

  <dt>Following</dt>
  <dd><%= following_accepted.count %></dd>


  <% if @current_user == @the_user %>
  <hr>
  <dt>Edit user</dt>
  <dd>
    <form action="/modify_user/#{<% @the_user.username %>}" method="post">
      <label for="browser_username">Username</label>
      <input id="browser_username" type="text" name="query_username" placeholder="Enter a username..."
        value="<%= @the_user.username %>">

      <label for="browser_private">Private?</label>
      <input id="browser_private" type="checkbox" name="query_private" >

      <button>Update user</button>
    </form>
  </dd>
<hr>
<% end %>
</dl>


<nav>
  <ul>
    <li>
      <a href="/users/<%= @the_user.id %>">Profile</a>
    </li>
    <li>
      <a href="/users/<%= @the_user.id %>/liked_photos">Liked photos</a>
    </li>
    <li>
      <a href="/users/<%= @the_user.id %>/feed">Feed</a>
    </li>
    <li>
      <a href="/users/<%= @the_user.id %>/discover">Discover</a>
    </li>
  </ul>
</nav>


<!-- bring photos to user pages and render -->
<% the_photos = Photo.where({ :owner_id => @the_user.id })%>

<h2>Own photos (<%= the_photos.count %>)</h2>

<table border="1">

  <tr>
    <th>
      Image
    </th>

    <th>
      Owner
    </th>

    <th>
      Caption
    </th>

    <th>
      Posted
    </th>

    <th>
      Likes
    </th>

    <th></th>
  </tr>

<!-- iterate over all photos -->
<% the_photos.each do |a_photo| %>

  <tr>

    <td>
      <img src="<%= a_photo.image %>">
    </td>

    <td>
      <%= @the_user.username %>
    </td>

    <td>
      <%= a_photo.caption %>
    </td>

    <td>
      <%= time_ago_in_words(a_photo.created_at) %>
    </td>

    <td>
      <%= a_photo.likes_count %>
    </td>

    <td>
      <a href="/photos/<% a_photo.id %>">Show details</a>
    </td>

    <% end %>

  </tr>

</table>

  </body>
</html>
